@model Admin
@{ Layout = "_AdminLayout"; }
@{
    if (!string.IsNullOrEmpty(ViewBag.pesan))
    {
        <script>
                    alert("@ViewBag.pesan");
        </script>
    }

}

<div class="content">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="LogIn">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">MASUK SEBAGAI ADMIN</h5>
                    </div>
                    <div class="card-body">
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Nama_Pengguna">Nama Pengguna</label>
                                    <input type="text" class="form-control" asp-for="Nama_Pengguna">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Kata_Sandi">Kata Sandi</label>
                                    <input type="text" class="form-control" asp-for="Kata_Sandi">
                                </div>
                            </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-fill btn-primary" value="Masuk" />
                    </div>
                    <div class="card-footer">
                        <input type="button" class="btn btn-fill btn-primary" value="Batal" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>