@model StudentAttendance
@{
    Layout = "_DashLayout";
}
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="CreateAttendance">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Menambah Data Kehadiran Siswa</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="Nomor">Nomor</label>
                                <input type="text" class="form-control" asp-for="Nomor">
                            </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="NIS">NIS</label>
                                <input type="text" class="form-control" asp-for="NIS">
                            </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="Nama">Nama</label>
                                <input type="text" class="form-control" asp-for="Nama">
                            </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="Sakit">Sakit</label>
                                <input type="text" class="form-control" asp-for="Sakit">
                            </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="Izin">Izin</label>
                                <input type="text" class="form-control" asp-for="Izin">
                            </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                            <div class="form-group">
                                <label asp-for="Tanpa_Keterangan">Tanpa Keterangan</label>
                                <input type="text" class="form-control" asp-for="Tanpa_Keterangan">
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-fill btn-primary" value="Simpan" />
                        </div>
                        <div class="card-footer">
                            <input type="button" class="btn btn-fill btn-primary" value="Batal" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>