@model Subjects
    @{
        Layout = "_DashLayout";
    }
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Menambah Data Siswa</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateSubject">
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="NIS">NIS</label>
                                    <input type="text" class="form-control" asp-for="NIS">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Nama">Nama</label>
                                    <input type="text" class="form-control" asp-for="Nama">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Pendidikan_Agama">Pendidikan Agama</label>
                                    <input type="text" class="form-control" asp-for="Pendidikan_Agama">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="PPKN">PPKN</label>
                                    <input type="text" class="form-control" asp-for="PPKN">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Bahasa_Indonesia">Bahasa Indonesia</label>
                                    <input type="text" class="form-control" asp-for="Bahasa_Indonesia">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Matematika">Matematika</label>
                                    <input type="text" class="form-control" asp-for="Matematika">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="IPA">IPA</label>
                                    <input type="text" class="form-control" asp-for="IPA">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="IPS">IPS</label>
                                    <input type="text" class="form-control" asp-for="IPS">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label asp-for="PJOK">PJOK</label>
                                    <input type="text" class="form-control" asp-for="PJOK">
                                </div>
                            </div>

                            <div class="card-footer">
                                <input type="submit" class="btn btn-fill btn-primary" value="Simpan" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>