@{
    Layout = "_DashLayout";
}
<h5 class="title">Data Nilai Siswa</h5>
<p class="category">SMA Negeri 1 Cililin</p>

<div class="card-body all-icons">

    <div class="row">
        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
                <i class="tim-icons icon-calendar-60"></i>
                <p>
                    <a asp-controller="Value" asp-action="IndexAttendance">Data Kehadiran</a>
                </p>
            </div>
        </div>
        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
                <i class="tim-icons icon-book-bookmark"></i>
                <p>
                    <a asp-controller="Value" asp-action="IndexSubject">Mata Pelajaran</a>
                </p>
            </div>
        </div>
        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
                <i class="tim-icons icon-bulb-63"></i>
                <p>
                    <a asp-controller="Value" asp-action="IndexAchievement">Prestasi</a>
                </p>
            </div>
        </div>
        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
                <i class="tim-icons icon-laptop"></i>
                <p>
                    <a asp-controller="Value" asp-action="IndexExtracurricular">Ekstrakurikuler</a>
                </p>
            </div>
        </div>
        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
                <i class="tim-icons icon-badge"></i>
                <p>
                    <a asp-controller="Value" asp-action="IndexAttitude">Kompetensi Sikap</a>
                </p>
            </div>
        </div>
    </div>
</div>
                     