@{
    Layout = "_DashLayout";
}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category">Profil Sekolah</h5>
                            <h2 class="card-title">SMAN 1 Cililin</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <p>Sekolah Menengah Atas Negeri 1 Cililin didirikan pada Tanggal 8 Januari 1967. Perintis/pendiri SMAN 1 Cililin adalah Tokoh masyarakat Cililin dan sekitarnya, para pejabat Pemerintah/Masyarakat Kecamatan Cililin, pengurus PGRI Cabang Cililin, disponsori oleh Kesatuan Aksi Pemuda Pelajaran Indonesia ( KAPPI ) komisariat Cililin dan atas persetujuan Kepala Perwakilan Departemen P dan K Jawa Barat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Galeri</h5>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <img src="~/assets/img/images.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Galeri</h5>
                    <img src="~/assets/img/smancil.jpg" alt="Alternate Text" />
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Galeri</h5>
                    <img src="~/assets/img/images2.jpg" alt="Alternate Text" />
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>